<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /financas/

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(?!api/).*$ index.html [L]
</IfModule>
